@tailwind base;
@tailwind components;
@tailwind utilities;

/* Color variables */
:root {
  --text-rgb: 0, 0, 0;
  --background-rgb: 255, 255, 255;

  --background-accent-rgb: 186, 212, 206;
  /* --background-accent: rgba(var(--background-accent-rgb), 0.4); */
  /* --background-accent: red; */
  --background-accent: #e3eeeb;

  --color-blue-rgb: 38, 78, 112;
  --color-pink-rgb: 249, 180, 171;
  --color-yellow-rgb: 253, 235, 211;
  --color-green-rgb: 103, 145, 134;

  --color-btn: #a5c0b8;
  --color-btn-active: #87aba0;

  --color-btn--secondary: #fdebd3;
  --color-btn--secondary-active: #fad29e;

  --color-link-highlight: #ffe872;
}

/* Dark mode */
@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 0, 0, 0;
    --background-rgb: 255, 255, 255;
  }
}

body {
  color: rgb(var(--text-rgb));
  background: rgb(var(--background-rgb));
}

/* Container wrapper, controls maximum width of page content (an alternative approach would be to use grid ) */

:root {
  /* White paddings around background */
  --inset: 1rem;
}

/* Wrapper (container) div */
.wrapper {
  max-width: 1400px;
  margin: 0 auto;
  padding: 0 calc(var(--inset) * 2);
}

@media (min-width: 768px) {
  .wrapper {
    padding: 0 8vw;
  }

  :root {
    --inset: 1.5rem;
  }
}

@media (min-width: 1536px) {
  /* :root {
    --inset: 1.5rem;
  } */

  .wrapper {
    padding: 0 6rem;
  }
}

/* Spacing between two columns layout */
.gap-x {
  column-gap: clamp(1.5rem /* 24px */, 10vw, 20rem /* 320px */);
}

/* Headings font sizes */
h1 {
  font-size: clamp(1.8rem, 5vw, 4rem);
}

h2 {
  font-size: clamp(1.5rem, 4vw, 3.6rem);
}

/* Style highlighed elements (like marker highlight) */
.highlight {
  position: relative;
  display: inline-block;
  /* display: inline-block;
  padding: 0.08rem 0.1rem;
  transition: all 0.2s ease-out; */
}

.highlight::before {
  content: "";
  position: absolute;
  inset: 53% -6px 10% 4%;
  background: var(--color-link-highlight);
  z-index: -1;
}

/* Style text selection */
::selection {
  background: var(--color-link-highlight);
}

html {
  /* Disable blue tap highlight on mobile devices */
  -webkit-tap-highlight-color: transparent;
}

/* Style scrollbars and scroll behaviour */
html {
  scroll-behavior: smooth;
}

@media (prefers-reduced-motion: reduce) {
  html {
    scroll-behavior: auto;
  }
}

body {
  scrollbar-gutter: stable;
  overflow-y: scroll;
}
