@tailwind base;
@tailwind components;
@tailwind utilities;

/* Color variables */
:root {
  /* Color scheme option 0:  */
  --text-rgb: 0, 0, 0;

  --background-rgb: 255, 255, 255;

  --background-accent: #e3eeeb;

  --color-link-highlight: #ffe872;

  --color-btn: #a5c0b8;
  --color-btn-active: #87aba0;

  --color-btn--secondary: #fdebd3;
  --color-btn--secondary-active: #fad29e;

  /* Color scheme option 3:  */
  /* --text-rgb: 16, 37, 66;

  --background-rgb: 255, 255, 255;

  --background-accent: #ede9ed;

  --color-link-highlight: #fff061;

  --color-btn: #c8bcc8;
  --color-btn-active: #b6a5b6;

  --color-btn--secondary: #99cdd6;
  --color-btn--secondary-active: #7cbfcb; */

  /* Color scheme option 6:  */
  --text-rgb: 35, 31, 32;

  --background-rgb: 255, 255, 255;

  --background-accent: #e3f2fb;

  --color-link-highlight: #ffea82;

  --color-btn: #acd8f2;
  --color-btn-active: #91cbed;

  --color-btn--secondary: #fff2b4;
  --color-btn--secondary-active: #ffee9b;

  /* Color scheme option 7:  */
  /* --text-rgb: 0, 0, 0;

  --background-rgb: 255, 255, 255;

  --background-accent: #f4f2d4;

  --color-link-highlight: #efdc66;

  --color-btn: #b9dbc9;
  --color-btn-active: #a7c5b5;

  --color-btn--secondary: #f4f2d4;
  --color-btn--secondary-active: #dcdabf; */
}

/* Dark mode: TODO:*/
@media (prefers-color-scheme: dark) {
  :root {
    --background-rgb: 255, 255, 255;
  }
}

/* html,
body {
  overflow-x: hidden;
} */

body {
  color: rgb(var(--text-rgb));
  background: rgb(var(--background-rgb));
}

/* Container wrapper, controls maximum width of page content (an alternative approach would be to use grid ) */

:root {
  /* White paddings around background */
  --inset: 1rem;
  --padding: calc(var(--inset) * 2);
}

/* Wrapper (container) div */
.wrapper {
  max-width: 1400px;
  margin: 0 auto;
  padding: 0 var(--padding);
}

@media (min-width: 768px) {
  :root {
    --inset: 1.5rem;
    --padding: 8vw;
  }
}

@media (min-width: 1536px) {
  :root {
    /* --inset: 1.5rem; */
    --padding: 6rem;
  }
}

/* Spacing between two columns layout */
.gap-x {
  column-gap: clamp(2rem, 8vw, 6rem /* 320px */);
}

/* Headings font sizes */
h1 {
  font-size: clamp(1.9rem, 5vw, 4rem);
}

h2 {
  font-size: clamp(1.8rem, 4vw, 3.6rem);
}

/* Style highlighed elements (like marker highlight) */
.highlight {
  position: relative;
  display: inline-block;
}

.highlight::before {
  content: "";
  position: absolute;
  z-index: -1;
  will-change: inset;
  inset: 53% -6px 10% 4%;
  background: var(--color-link-highlight);
}

[data-highlight="false"] .highlight::before {
  inset: 53% 100% 10% 4%;
  transition: inset 0s;
  background: red;
}

[data-highlight="true"] .highlight::before {
  transition: inset 0.8s cubic-bezier(0.25, 1, 0.5, 1);
  /* background: green; */
}

[data-highlight="true"] .highlight:nth-of-type(2)::before {
  transition: inset 0.7s 1s cubic-bezier(0.25, 1, 0.5, 1);
  /* background: blue; */
}

/* Style text selection */
::selection {
  background: var(--color-link-highlight);
}

html {
  /* Disable blue tap highlight on mobile devices */
  -webkit-tap-highlight-color: transparent;
}

/* Style scrollbars and scroll behaviour */
/* Scroll container */
body {
  scrollbar-gutter: stable;
  overflow-y: scroll;
}

/* Smooth scroll */
html {
  --scroll-behavior: smooth !important;
  scroll-behavior: smooth !important;
}

@media (prefers-reduced-motion: reduce) {
  html {
    scroll-behavior: auto;
  }
}

/* Scrollbar appearance in Chrome browser  */
body::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.2);
  background-color: #f5f5f5;
}

body::-webkit-scrollbar {
  width: 12px;
  background-color: var(--background-accent);
}

body::-webkit-scrollbar-thumb {
  border-radius: 2px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.15);
  background-color: #c7d5dd;
}
